<h1><%= @player_1_name %> and <%= @player_2_name %> do battle!!!</h1>

<h3><%= @player_1_name %>[100hp]</h3>  <h3><%= @player_2_name %>[100hp] </h3>

<form action="/attack">  
  <input type="submit" value="Attack"/>
</form>
